.comment-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Thay đổi từ 100px nếu cần linh hoạt */
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .comment-item {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
  }
.box-comment-answer{
  margin-bottom: 20px;
  width: 100%;
}
    
  .avt-name img {
    width: 55px; /* Điều chỉnh kích thước hình ảnh nếu cần */
    height: 55px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .comment {
    flex-grow: 1;
    padding-left: 20px;
  }
  
  .comment h6 {
    margin: 0;
    text-transform: uppercase;
  }
  
  .comment p {
    margin: 5px 0;
  }
  
  .answer-admin{
    display: flex;
  }

  .answer-admin button{
    margin-left: 20px;
    background-color: transparent;
    color: #001981;
    box-shadow: none;
    font-size: 25px;
  }

  .answer-admin button:hover{
    border-radius: 50%;
  }
  .input-answer{
    border-radius: 999px;
    width: 70%;
    border: 1px solid black;
    padding: 10px;
  }

  .uppercase{
    color: #001981;
    font-weight: bold;
    font-size: 15px;
  }
  .uppercase-header{
    color: #001981;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .btn-reply{
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 999px;
    transition: 0.2s ease-in;
    color: #001981;
    margin-right: 20px;
  }

  .btn-delete{
    background-color: transparent;
    font-size: 24px;
    color: rgb(255, 0, 0);
    padding: 5px 10px;
    border-radius: 999px;
    transition: 0.2s ease-in;
  }

  .btn-delete:hover{
    background-color: #ff0000;
    color: #fff;
  }