.wrapper{
    margin-top: auto;
    width: 100%;
    flex-direction: column;
    box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #071c4d, #002d97) !important;
    box-sizing: border-box;
    height: 200px;
}

.footer-top{
    padding: 120px 50px;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 36px;

    img{
        width: 200px;
    }
}
.title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 36px;
    color: #fff;
    text-align: start;
}
.logo {
    margin-bottom: 15px;
    cursor: pointer;
}

.footer-bottom{
    position: relative;
    display: block;
    border-top: 1px solid rgba(248, 249, 250, .05);
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    color: #fff;
    margin: 0px 40px;
}

.copy {
    margin-top: 50px;
    text-align: start;
}

.info{
    color: #d9d9d9;
    text-align: start;
    ul{
        padding: 0;
    }
    li{
        list-style-type: none;
        margin: 10px 0px;
        cursor: pointer;

        &:hover{
            color: #fff;
        }
    }
}